@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {box-sizing: border-box;}

nav {
  overflow: hidden;
  width: 100%;
  display: flex;}
  nav ul {
  width: 300px;
  list-style-type: none;
  padding-left: 0px;}
  nav ul a {
    text-decoration: none;
    color: black; }
  nav ul li {
    padding: 5px; }



body {
  height: 100%;
  font-family: "Nanum Gothic Coding", monospace; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;}
  .container::after {
    clear: both;
    content: "";
    display: table; }

.button{
  background: #000;
  color:#fff;
}

input{
  width: 40%;
  height: 50px;
  font-size: 14px;
  border: 1px solid #c3c3c3;
  padding-left: 5px;
  margin-bottom: 3px;
}

footer{
  width: 100%;
  margin-top: 50px;
  background: #000;
}

.footer {
  display: flex;
  color: white;
  background-color: #333;
  width: 100%;
}

.footer div{
  width: 50%;
  padding: 0em 2em;
}


#social {
  width: 100%;
  display: inline-block;
  position: relative;
  margin-top: -20px;
  padding-bottom: 20px;}

  .iconsocial{
    width: 50%;
    float: left;
  }

  #social a {
    text-decoration: none;
    padding-left: 5px;
    color: white; }

  /*Responsive*/

  @media screen and (max-width: 768px) {
    /*#logo{
      margin-top: -50%;
      left:18%;
    }
    #menu{
      margin-top: 20%;
    }*/
